  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= customer.description %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= customer.age %>
  </p>
